table {
  border-collapse: collapse;
  border: 2px solid black;
  width: 100%;
  table-layout: fixed;
}

table > tr {
  border: 2px solid black;
}

table > tr > td,
table > tr > th {
  border: 1px solid black;
}
